# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

polecenia-git.txt

node_modules

public/images/logo-admin-vel.png
public/images/header-image-slavic-mobile-smartphone.jpg
public/images/header-image-slavic.jpg

public/images/symbols-s/
public/images/__header-image/
public/images/favicon-vel

test

.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
